*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2;
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    height: 70px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    background-color: #e5e5e5;
}
#leftnav{
    width: 20%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    

    align-items: center;
}
#leftnav h1{
    font-size: 2rem;
}
#leftnav img{
    width: 20%;
    height: 75%;
}
#rightnav{
    width: 30%;
    height: 100%;
    float: right;
    
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;
}
#rightnav a{
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}
#rightnav a:hover{
    color: royalblue;
}
.full{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-top: 70px;
}
#side{
    width: 8%;
    
    background-color: #2b2d42;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    margin-top: 70px;
    /* background-color: black; */
}
#left{
    width: 60%;
    height: 100%;
    /* border: 2px solid black; */
    
    /* display: inline-block; */
    background-color: coral;
    background-image: url(./img/india.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#left h1{
    font-size: 2.5vmax;
}
#right{
    margin-left: 8%;

    width: 40%;
    height: 100%;
    /* border: 2px solid black;   */
    background-color: aquamarine;
    /* text-align: center; */
    animation-duration: 1s;
    background-image: url(./img/map11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#date{
    margin: 0px auto;
    text-align: center;
}
#head{
    /* padding-top: 15px; */
    /* text-align: center; */
    
    /* margin: 40px auto 70px; */
     /* border: 1px solid black;  */
    height: 30%;
    width: 45%;
    /* color: blanchedalmond; */
    background-image: linear-gradient(
          to bottom,
          rgba(255, 123, 0, 0.596),
          rgba(255, 255, 255, 0.425)
        );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#cnt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
    /* border: 2px solid red; */
}
#cnt_daily{
    /* margin-top: 30px; */
    font-family: 'Merriweather', serif;
    color:darkblue;
    font-size: 4.5vmax;
}
#act_daily{
    /* margin-top: 50px; */
    font-family: 'Merriweather', serif;
    color: red;
    font-size: 3.5vmax;
}
#rec_daily{
    /* margin-top: 50px; */
    font-family: 'Merriweather', serif;
    color: darkgreen;
    font-size: 3.5vmax;
}
.cntdata{
    /* border: 2px solid green; */
    height: 80%;
    width: 40%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#rec{
    height: 90%;
    width: 45%;
    background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.507),
          rgba(8, 221, 79, 0.425)
        );
}
#active{
    height: 90%;
    width: 45%;
    background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.507),
          rgba(8, 221, 79, 0.425)
        );
}

#inp {
    box-sizing: border-box;
    width: 70%;
    padding: 20px;
    /* margin-top: 100px; */
    font-size: 2vmax;
    border-radius: 10px;
    border: 2px solid black;
}

#btn {
    box-sizing: border-box;
    border-radius: 30px;
    font-weight: 1200;
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    font-size: 2vmax;   
    background-color: #e9ff70;
}
#btn:hover{
    background-color: #a1ff0a;
}
#btn:active{
    /* background-color: #a1ff0a; */
    
    transform: scale(0.9);
}
.ul{
    height: 60%;
    width: 60%;
    /* border: 2px solid black; */
    margin: 30px auto;
    color: black;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    display: none;
}
.sec{
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.507),
        rgba(8, 107, 221, 0.425)
      );
}
span{
    color: darkblue;
    font-family: 'Merriweather', serif;
}
#news{
    height: 90vh;
    width: 92%;;

    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.507),
        rgba(8, 107, 221, 0.425)
      );
    margin-left: 8%;
}
#news h1{
    text-align: center;
   padding-top: 300px;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.footer{
    height: 20vh;
    width: 92%;
    margin-left: 8%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.heading-foot{
    /* border: 2px solid red; */
    width: 40%;
    height: 50%;
}
.heading-foot h3{
    font-size: 2vmax;
}
.right-1{
    width: 20%;
    height: 50%;
    text-align: center;
}
.right-1 i{
    font-size: 5vmax;
    height: 50%;
    /* border: 2px solid red; */
    
}
#mame{
    height: 100%;
    width: 40%;
    /* border: 2px solid red; */
    background-image: linear-gradient(
        to right,
        rgba(44, 43, 43, 0.507),
        rgba(255, 255, 255, 0.425)
    );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vmax;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@media screen and (max-width: 652px) {
    *{
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
    }
    .navbar{
        width: 100vw;

        /* display: none; */
        /* position: absolute; */
    }
   
    #leftnav{
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin-left: 10px;
    }
    
    
    #changetext{
        font-size: 1.7vmax;
    }
    img{
        /* display: none; */
        width: 5%;
        
    }
    #leftnav h1{
        font-size: 3vmax;
    }
    #rightnav{
        position: fixed;
        top: -100%;
        left: 15%;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.863);
         
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    #rightnav.active {
        top: 70px;
        height: 80%;
        width: 100%;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }




    
    #side{
        width: 15%;
        height: 100%;
    }
    .full{
        display: flex;
        /* margin-left: 18%; */
        flex-direction: column-reverse;
        height: 200vh;
        /* width: 100vw; */
    }
    #right{
        width: 85%;
        /* height: 100%; */
        margin-left: 15%;
    }
    #left{
        width: 85%;
        height: 100%;

        margin-left: 15%;   
    }
    #left h1{
        font-size: 2vmax;
    }
    #news{
        width: 85%;
        margin-left: 15%;

    }
    .ul{
        width: 80%;
    }
    .footer{
        margin-left: 15%;
        width: 85%;
        height: 15vh;
    }
    .right-1{
        width: 30%;
    }
    .heading-foot{
        width: 30%;
    }
    #mame{
        width: 40%;
        background-image: none;
        background-color: #e5e5e5;
    }
  }